html {
  box-sizing: border-box;
  font-size: 10px;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: hsl(0, 0%, 98%);
  color: hsl(200, 15%, 8%);
}

.header {
  padding: 25px;
  background-color: #fff;
  box-shadow: 0 2px 3px rgba(128, 127, 127, 0.2);
}

.header__title {
  font-size: 2rem;
  font-weight: 800;
  margin: 0 auto;
}

.header__link {
  text-decoration: none;
  color: hsl(200, 15%, 8%);
}

.countries {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
  padding: 3%;
  grid-gap: 25px;
}

.country {
  width: 265px;
  max-width: 265px;
  background-color: #fff;
  border-radius: 7px;
  border: 1px solid #eee;
  font-size: 1.4rem;
  margin: 0 auto;
  box-shadow: 0 2px 3px rgba(128, 127, 127, 0.2);
}

.country__flag {
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  height: 200px;
}

.country__details {
  padding: 25px 25px 30px 25px;
}

.country__header {
  font-size: 1.6rem;
  font-weight: 800;
}

.country__info {
  padding: 0;
  margin: 5px 0;
}

.filters {
  padding: 0 5%;
  margin-top: 25px;
  margin-bottom: 60px;
}

.filters__input {
  color: hsl(0, 0%, 52%);
  padding: 20px 30px;
  font-size: 16px;
  border-radius: 7px;
  border: 1px solid #eee;
  box-shadow: 0 1px #f2f2f2;
  width: 80%;
  font-family: 'Nunito Sans', sans-serif;
  text-align: center;
}


.input-icons i { 
  position: absolute; 
} 

.input-icons { 
  width: 100%; 
  margin-bottom: 10px; 
} 

.icon-search { 
  padding: 20px 0 5px 20px;
  min-width: 70px;
}

.icon-arrow { 
  padding: 20px 0 0 5px;
  width: 20px;
  text-align: right;
  margin: 0;
}

.input-field { 
  width: 100%; 
  padding: 10px; 
  text-align: center; 
  color: hsl(0, 0%, 52%);
} 




select {
  color: hsl(0, 0%, 52%);
  font-size: 16px;
  width: 170px;
  border-radius: 7px;
  /* margin-top: 50px; */
  padding: 20px 0 20px 40px;
  border: 1px solid #eee !important;

  /* needed */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  box-shadow: 0 1px #f2f2f2;
}

.countrylink {
  text-decoration: none;
  color: inherit;
}

.countrylink :hover {
  cursor: pointer;
  background-color: #eee;
}

.details {
  font-size: 1.6rem;
  margin: 0 auto;
  margin-top: 50px;
}

.details__flag__image {
  width: 100%;
  height: auto;
}

.details__info__header {
  margin-top: 50px;
  font-size: 2.5rem;
  font-weight: 800;
}

.details__info__statistics__left {
  margin: 50px 0;
}


.button {
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #dfdfdf;
  padding: 5px 10px;
  color: #000;
  box-shadow: 0 2px 3px rgba(128, 127, 127, 0.2);
  cursor: pointer;
}

.button--back {
  background-image: url("imgs/icon-arrow-left-solid.svg");
  background-repeat: none;
  background-size: 10%;
  background-repeat: no-repeat;
  background-position: 15px center;
  padding: 10px 40px;
  color: hsl(200, 15%, 8%);
  font-weight: 600;
  width: 100px;
}

.country-details {
  padding: 5%;
  margin-top: 20px;
}

.details__info__border__heading {
  margin-top: 50px;
}

.details__info__neighbors {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: baseline; 
  padding: 0;
}

.details__info__neighbors__list__item {
  background-color: #fff;
  text-align: center;
  padding: 7px 25px;
  border-radius: 5px;
  border: 1px solid #eee;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 1.4rem;
  color: #000;
  text-decoration: none;
}

.details__info__neighbors__list__item:hover {
  text-decoration: underline;
  border: 1px solid #666666;
}

.fa {
  display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: hsl(0, 0%, 52%);
    font-size: 20px;
}

@media screen and (min-width: 1000px) {
  
  .details {
    display: flex;
    justify-content: flex-start;
  }

  .details__flag {
    min-width: 560px;
  }

  .details__flag__image {
    width: 560px;
    height: auto;
  }

  .details__info {
    margin-left: 120px;
  }

  .details__info__statistics {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
  }

  .details__info__statistics__left {
    margin: 0;
  }

  .details__info__statistics__right {
    margin-left: 145px;
  }

}

.dark {
  background-color: hsl(207, 26%, 17%);
  color: hsl(0, 0%, 100%);
}

.dark .countries .country {
  background-color: hsl(207, 26%, 17%);
}