html {
  box-sizing: border-box;
  font-size: 10px;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: hsl(0, 0%, 98%);
}

.header {
  height: 80px;
  padding: 25px;
  background-color: #fff;
  box-shadow: 0 2px 3px rgba(128, 127, 127, 0.2);
}

.header__title {
  font-size: 2rem;
  font-weight: 800;
  color: hsl(200, 15%, 8%)
}

.countries {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
  padding: 3%;
  grid-gap: 25px;
}

.country {
  width: 265px;
  max-width: 265px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #eee;
  font-size: 1.4rem;
  margin: 0 auto;
  box-shadow: 0 2px 3px rgba(128, 127, 127, 0.2);
  color: hsl(200, 15%, 8%);
}

.country__flag {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 200px;
}

.country__details {
  padding: 25px 25px 30px 25px;
}

.country__header {
  font-size: 1.6rem;
  font-weight: 800;
}

.country__info {
  padding: 0;
  margin: 5px 0;
}

.filters {
  padding: 5%;
}

.filters__input {
  color: hsl(0, 0%, 52%);
  padding: 20px 30px;
  font-size: 1.2rem;
  border-radius: 10px;
  border: 1px solid #eee;
  box-shadow: 0 1px #f2f2f2;
  width: 80%;
}

.select-style {
  border: 1px solid #ccc;
  width: 130px;
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
  background: #fff url("imgs/icon-sort-down-solid.svg") no-repeat 90% 50%;
}

.select-style select {
  padding: 5px 8px;
  width: 100%;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
  background-color: #fff;
  border-radius: 10px;
}

.select-style select:focus {
  outline: none;
}


.countrylink {
  text-decoration: none;
}

.countrylink :hover {
  cursor: pointer;
  background-color: #eee;
}

.details {
  font-size: 1.6rem;
}

.details__flag__image {
  width: 100%;
}

.button {
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #dfdfdf;
  padding: 5px 10px;
  color: #000;
  box-shadow: 0 2px 3px rgba(128, 127, 127, 0.2);
  cursor: pointer;
}

@media screen and (min-width: 800px) {
  
  .details {
    display: flex;
    margin: 0 auto;
    padding: 5%;
    justify-content: space-around;
  }

  .details__flag {
    width: 560px;
  }

  .details__info__statistics {
    display: flex;
    justify-content: space-around;
  }

}